PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=vWOOjHUcpX9C28jJrd_rx1Olqy8F7OQF
DRIVE_DISK=local
MONGODB_CONNECTION=mongodb
MONGODB_URL=mongodb://localhost:27017?directConnection=true
MONGODB_DATABASE=test
